<form action='/banco' method="post">
<h3>El Balance de tu cuenta es: </h3>
<input type="text" id="monto" name="monto" value=<%=@monto%>>

<input type="submit" value="Depositar">
<input type="submit" value="Retirar">

</form>
